body {
    font-family: pixelFontMain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw 2vw 6vw 2vw;
    background-color: white;
    border: solid 5px black;
    color: var(--text);
}

.info {
    text-align: center;
}

#form {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
}

.login-input-field {
    background: none;
    border: none;
    font-size: 1.5vw;
    width: 20vw;
    padding: 5px;
    color: var(--text);
}

#login-button {
    width: 5vw;
    background: none;
    border: solid 2px;
    border-radius: 3px;
    font-size: 1vw;
    padding: 0.1vw;
    transition: 0.2s;
    cursor: pointer;
}

#login-button-container {
    align-self: flex-end;
}

#login-button:hover {
    background-color: var(--bg-btn);
    color: white;
}

.signup-cont {
    display: flex;
    width: 100%;
}

#signup {
    text-decoration: underline;
    background: none;
    border: none;
    color: var(--text);
    border-radius: 3px;
    font-size: 1vw;
    padding: 0.1vw;
    justify-self: flex-start;
}

#signup:hover {
    text-decoration: underline;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 1vw;
}