body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#game-wrap {
    position: relative;
    width: 100%;
    height: 90vh;
    background: #7cc26b;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#bottom-field {
    height: 10vh;
    padding: 12px;
    background: var(--bg);
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

#bottom-field-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.bottom-field-icon-button {
    padding: 8px;
    font-size: 16px;
}

#new-btn {
    padding: 8px 12px;
}

#chat-textfield-container {
    display: flex;
    align-items: center;
    width: 50%;
}

#chat-textfield-container label{
    margin-right: 8px;
    font-size: 20px;
    color: white;
}

#chat-textfield {
    padding: 6px;
    font-size: 18px;
    width: 100%;
}